
*{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
}

.bmw34{
  background-image : url('D:\bmw\src/Component/img/Logo.jpg');
  height : 200px;
  background-size : cover;
}

.signup {
  background-image : url('D:\bmw\src\Component\img\1680x756 (1) (1)Sign.jpg');
  height : 550px;
  background-size : cover;
}

.loginp {
  background-image : url('D:\bmw\src\Component\img\loginmain.jpg');
  height : 550px;
  background-size :cover;
}

.bg-main{
  background-image : url('D:\bmw\src\Component\img\homepage-specialoffers111.jpeg');
  height : 550px;
  background-size :cover;
}

.bg-main1{
  background-image : url('D:\bmw\src\Component\img\bg2.jpg');
  height : 400px;
  background-size : cover;
}
.bg-main2{
  background-image : url('D:\bmw\src\Component\img\bg3.1.jpg');
  height : 400px;
  background-size : cover;
}
.bg-main3{
  background-image : url('D:\bmw\src\Component\img\bg4.jpg');
  height : 400px;
  background-size : cover;
}
.hover-underline:hover {
  color:gray;
}
.contact{
  background-image : url('D:\bmw\src\Component\img\contact4.jpg');
  height : 560px;
  background-size : cover;
}
.contact-i{
  background-image : url('D:\bmw\src\Component\img\contact2.jpg');
  height : 350px;
  background-size : cover;
  border-radious : 8px;
}
.bmw1{
  background-image : url('D:\bmw\src\Component\img\cosySec.png');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.bmw2{
  background-image : url('D:\bmw\src\Component\img\cosySec2.png');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.bmw3{
  background-image : url('D:\bmw\src\Component\img\cosySec1.png');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.bmw3{
  background-image : url('D:\bmw\src\Component\img\cosySec3.png');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.bmw4{
  background-image : url('D:\bmw\src\Component\img\cosySec5.png');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.bmw5{
  background-image : url('D:\bmw\src\Component\img\cosySecxm.png');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.bmw6{
  background-image : url('D:\bmw\src\Component\img\cosySec6.png');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.bmw7{
  background-image : url('D:\bmw\src\Component\img\cosySec7.png');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.bmw8{
  background-image : url('D:\bmw\src\Component\img\cosySec8.png');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.bmw9{
  background-image : url('D:\bmw\src\Component\img\cosySec9.png');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.special-offer{
  background-image : url('D:\bmw\src\Component\img\cosySec9.png');
  height : 200px;
  background-size : cover;
}
.aboutt{
  background-image : url('D:\bmw\src\Component\img\About2.jpg');
  height : 550px;
  background-size : cover;
}

.tmamber1{
  background-image : url('D:\bmw\src\Component\img\team1.jpg');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.tmamber2{
  background-image : url('D:\bmw\src\Component\img\team2.jpg');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.tmamber3{
  background-image : url('D:\bmw\src\Component\img\team3.jpg');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.tmamber4{
  background-image : url('D:\bmw\src\Component\img\team4.jpg');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.tmamber5{
  background-image : url('D:\bmw\src\Component\img\team5.jpg');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.tmamber6{
  background-image : url('D:\bmw\src\Component\img\team6.jpg');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.tmamber7{
  background-image : url('D:\bmw\src\Component\img\team7.jpg');
  height : 240px;
  margin : auto;
  background-size : cover;
}
.About123{
  background-image : url('D:\bmw\src\Component\img\aboutus1.jpg');
  height : 440px;
  margin : auto;
  background-size : cover;
}